.content {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;  
    text-align: center;
}

.login-form-container {
    padding-top: 15%;
    text-align: center;
    margin-bottom: 15px;
}

.reg-form-container {
    padding-top: 10%;   
    text-align: center;
    margin-bottom: 15px;
}

.form {
    color: #000000;
}