{% extends "mkotlarzQRAppBundle:Profile:base.html.twig" %}

{% block title %}Panel administratora - Edytuj profil{% endblock %}

{% block top_menu %}
> <a href="/profile">Profil</a>
{% endblock %}

{% block user_name %} {{ user.name }} {{ user.surname }}{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Dane użytkownika:</h1><br />
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <strong>Email: </strong>{{user.email }}<br />
        <strong>Imię:</strong>{{ user.name }}<br />
        <strong>Nazwisko: </strong>{{ user.surname }}<br />
        <strong>Adres: </strong>{{ user.street }}, {{ user.city }} {{ user.postal }}<br />
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href="/profile/edit"><button class="btn btn-primary">Edytuj</button></a>
    </div>
</div>
{% endblock %}