{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Dashboard - QRCode{% endblock %}

{% block page_content %}
<div class="col-md-12" style="text-align: center;">
    {% set img_url = qrcode_data_uri(message) %}
    <a href="{{ img_url }}"><img src="{{ img_url }}" class="img-rounded" style="margin-top: 20px;"/></a>
    <br />
    <a href="{{ img_url }}"><button class="btn btn-info" style="margin-top: 20px;">Print</button></a>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#{{ action }}").addClass("selected");
        </script>
{% endblock %}