{% extends "mkotlarzQRAppBundle:Login:base.html.twig" %}

{% block page_content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 reg-form-container">
        <img src="{{ asset('bundles/mkotlarzqrapp/images/logo.png') }}" class="header-logo2"/>
        <form action="/register/"  method="POST" class="form-horizontal form">
            <div class="form-group">
                <label for="fos_user_registration_form_email" class="col-md-4 control-label">Email:</label>
                <div class="col-md-4">
                    {{ form_widget(form.email,  {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_plainPassword_first" class="col-md-4 control-label">Hasło:</label>
                <div class="col-md-4">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>  
            <div class="form-group">
                <label for="fos_user_registration_form_plainPassword_second" class="col-md-4 control-label">Powtórz hasło:</label>
                <div class="col-md-4">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_name" class="col-md-4 control-label">Imię:</label>
                <div class="col-md-4">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_surname" class="col-md-4 control-label">Nazwisko:</label>
                <div class="col-md-4">
                    {{ form_widget(form.surname) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_city" class="col-md-4 control-label">Miasto:</label>
                <div class="col-md-4">
                    {{ form_widget(form.city) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_street" class="col-md-4 control-label">Ulica:</label>
                <div class="col-md-4">
                    {{ form_widget(form.street) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_postal" class="col-md-4 control-label">Kod pocztowy:</label>
                <div class="col-md-4">
                    {{ form_widget(form.postal) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_phone_number" class="col-md-4 control-label">Numer telefonu:</label>
                <div class="col-md-4">
                    {{ form_widget(form.phone_number) }}
                </div>
            </div>
            <div class="form-group">
                <label for="fos_user_registration_form_country" class="col-md-4 control-label">Kraj:</label>
                <div class="col-md-4">
                    {{ form_widget(form.country) }}
                </div>
            </div>
            {{ form_rest(form) }}
    <div>
        <button type="submit" value="Register" class="btn btn-success">Zarejestruj się</button>
    </div>
</form>
{% endblock %}