{% extends "mkotlarzQRAppBundle:Profile:base.html.twig" %}

{% block title %}Panel administratora - Edytuj profil{% endblock %}

{% block top_menu %}
> <a href="/profile">Profil</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            {{ form_widget(form) }}
                <button class="btn btn-success" type="submit" style="margin-top: 10px;">Zapisz zmiany </button>
        </form>
    </div>
</div>
{% endblock %}