<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Oznaczenia</h1>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped">
            <tr>
                <th>Godzina lekcyjna</th>
                <th>Wykonany przez</th>
                <th>W pomieszczeniu</th>
                <th>Klasa</th>
            </tr>
            <tr>
                {% for checkin in checkins %}
                    <td>{{ checkin.hour }}</td>
                    <td><a href="/teacher?teacher_id={{ checkin.teacher.id }}">{{ checkin.teacher }}</a></td>
                    <td><a href="/room?room_id={{ checkin.room.id }}">{{ checkin.room }}</a></td>
                    <td><a href="/timetable?timetable_id={{ checkin.timetable.id }}">{{ checkin.timetable }}</a></td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>