<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>QRApp</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap.min.css') }}">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap-theme.min.css') }}">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ asset('bundles/mkotlarzqrapp/js/bootstrap.min.js') }}"></script>
   </head>
	
    <body>
		<div class="container">
			<div class="col-md-12" style="margin-top: 10px;">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nazwa użytkownika</th
						><th>Email</th>
						<th>Jest aktywny</th>
						<th>Ostatnie logowanie</th>
					</tr>
					<tr>
						<td>{{ id }}</td>
						<td>{{ username }}</td>
						<td>{{ email }}</td>
						<td>{{ isEnabled }}</td>
						<td>{{ last_login }}</td>
					</tr>
			</div>
	
	</body>
</html>