<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Zastępstwa</h1>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped">
            <tr>
                <th>Godzina lekcyhna</th>
                <th>Za nauczyciela</th>
                <th>Z nauczycielem</th>
                <th>W pomieszczeniu</th>
                <th>Dodatkowe informacje</th>
            </tr>
            <tr>
                {% set i = 0 %}
                {% for replacement in replacements %}
                    <td>{{ replacement.hour }}</td>
                    <td><a href="/teacher?teacher_id={{ replacement.teacher.id }}">{{ replacement.teacher }}</a></td>
                    <td><a href="/teacher?teacher_id={{ replacements_teachers[i].id }}">{{ replacements_teachers[i] }}</a></td>
                    <td><a href="/room?room_id={{replacements_rooms[i].id }}">{{ replacements_rooms[i] }}</a></td>
                    <td>{{ replacement.description }}</td>
                    {% set i = i + 1 %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>