<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>{{ name }}</h1>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped">
            <tr>
                <th>Godzina lekcyhna</th>
                <th>Poniedziałek</th>
                <th>Wtorek</th>
                <th>Środa</th>
                <th>Czwartek</th>
                <th>Piątek</th>
                <th>Sobota</th>
                <th>Niedziela</th>
            </tr>
                <tr>
            {% set i = 1 %}
            {% if lessons is not empty %}
            {% set last_hour = lessons[0].hour.start.format("H:i") + " - " + lessons[0].hour.end.format("H:i") %}
            {% set current_hour = lessons[0].hour.start.format("H:i") + " - " + lessons[0].hour.end.format("H:i") %}
            {% endif %}
            {% for lesson in lessons %}
                {% set current_hour = lesson.hour.start.format("H:i") + " - " + lesson.hour.end.format("H:i") %}
                {% if last_hour != current_hour  %}
                {% set i = 1 %}
                </tr><tr>
                {% endif %} 
                {% if i == 1 %}<td>{{ lesson.hour.start.format("H:i") }} - {{ lesson.hour.end.format("H:i") }}</td>{% endif %}
                {% if i == lesson.day %}
                    <td>{{lesson.subject.name }}<br />Teacher: <a href="/teacher?teacher_id={{ lesson.teacher.id }}">{{ lesson.teacher.name }} {{ lesson.teacher.surname }}</a><br />Class: <a href="/timetable?timetable_id={{ lesson.timetable.id }}">{{ lesson.timetable.name }}</a></td>
                {% else %}
                    {% set j = (lesson.day - i) - 1 %}
                    {% for k in 0..j %}
                    {% set i = i +1 %} 
                        <td></td>
                    {% endfor %}
            <td>{{lesson.subject.name }}<br />Teacher: <a href="/teacher?teacher_id={{ lesson.teacher.id }}">{{ lesson.teacher.name }} {{ lesson.teacher.surname }}</a><br />Teacher: <a href="/timetable?timetable_id={{ lesson.timetable.id }}">{{ lesson.timetable.name }}</a></td>
                {% endif %}
                {% if i == 7 %}
                    </tr><tr>
                    {% set i = 1 %}
                {% else %}
                    {% set i = i + 1 %}
                {% endif %}
                {% set last_hour = lesson.hour.start.format("H:i") + " - " + lesson.hour.end.format("H:i") %}
            {% endfor %}
            </tr>
        </table>
</div>

{{ include('mkotlarzQRAppBundle:Default:replacements.html.twig', {replacements: replacements, replacements_rooms: replacements_rooms, replacements_teachers: replacements_teachers}) }} 
    
{{ include('mkotlarzQRAppBundle:Default:checkins.html.twig', {checkins: checkins }) }}