{% extends "mkotlarzQRAppBundle:Default:base.html.twig" %}

{% block title %}Plan zajęć{% endblock %}

{% block additionalCss %}
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/font-awesome.css') }}">
{% endblock %}

{% block page_content %}
<div class="container-fluid default">
    <div class="col-md-2 aside-menu">
        <h1 class="timetable-section">Klasy</h1>
        <ul class="side-menu">
        {% for timetable in timetables %}
            <li ><a href="/timetable?timetable_id={{ timetable.id }}">{{ timetable.name }}</a></li>
        {% endfor %}
        </ul>
        <h1 class="timetable-section">Teachers</h1>
        <ul class="side-menu">
        {% for teacher in teachers %}
            <li><a href="/teacher?teacher_id={{ teacher.id }}">{{ teacher.name }} {{ teacher.surname }}</a></li>
        {% endfor %}
        </ul>
        <h1 class="timetable-section">Rooms</h1>
        <ul class="side-menu">
        {% for room in rooms %}
            <li><a href="/room?room_id={{ room.id }}">{{ room.number }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        {{ include(layout_name, {name: name, lessons: lessons }) }}
    </div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#timetables").addClass("selected");
        </script>
{% endblock %}