html {
      background-color: #eeeeee;   
}

html body {
      background-color: #eeeeee;     
}

.dashboard {
    padding-right: 0px;
}

.aside-menu {
    text-align: center;
    position: fixed;
    height: 100%;
    background-color: #34495e;
    margin-left: -15px;
    padding: 0px;
}

.header-container {
    height: 100%;
    padding: 0px;
    margin-left: -15px;
}

.content-row {
    padding: 0px;
}

.header {
    background-color: #FFFFFF;
    height: 70px;
    padding-right: 0px;
    margin-left: 15px;
}

.header2 {
    background-color: #FFFFFF;
    height: 70px;
    padding-right: 0px;
    margin-left: -15px;
    text-align: right;
    vertical-align: middle;
}

.breadcrumb {
    padding-top: 25px;
    font-family: Raleway;
}

.menu-container {
    text-align: left;
    width: 100%;
    margin-top: 50px;
}

.side-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.side-menu li {
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    font-family: Raleway;
}

.side-menu a {
    color: #98a2ad;
    text-decoration: none;
}

.side-menu a:hover li  {
    text-decoration: none;
}

.side-menu a:hover li:hover {
    background: #2c3e50;
    cursor: pointer;
}

.side-menu .selected {
    background: #2c3e50;
}

.user-image {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.number {
    position: relative;
    top: -5px;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;

    -moz-border-radius: 15px; /* or 50% */
    border-radius: 15px; /* or 50% */

    background-color: #95a0aa;
    color: white;
    text-align: center;
    font-size: 1em;
    float: right;
    margin-right: 15px;
}

.user_options {
    position: relative;
    top: 9px;
    font-family: Raleway;
    font-size: 12pt;
    margin-left: 10px;
    margin-right: 15px;
    text-decoration: none;
}

.logout :hover {
    text-decoration: underline;
}

.tiles-container {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.tile {
    padding-bottom: 15px;
    min-width: 140px;
    height: 20%;
    width: 20%;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
    float: left;
}

.tile-icon {
    margin-top: 30px;
    margin-bottom: 25px;
    min-width: 40px;
    width: 30%;
    height: px;
}

.tile-title {
    clear: both;
    font-family: Raleway;
    font-size: 16pt;
    margin-top: 10px;
}

.tile-link {
    text-decoration: none;
}

.tile-link:hover {
    text-decoration: none;
}

.blue-first {
    background: #5faee3;   
}
.blue-first:hover {
    background: #3290cf;   
}

.blue-second {
    background: #6eb5e5;   
}

.blue-second:hover {
    background: #3290cf; 
}

.blue-third {
    background: #7cbde8;   
}

.blue-third:hover {
    background: #3290cf;
}

.blue-fourth {
    background: #8bc4ea;   
}

.blue-fourth:hover {
    background: #3290cf;  
}

.blue-fifth {
    background: #99cbed;   
}

.blue-fifth:hover {
    background: #3290cf;  
}

.user_options_list {
    float: right;
    list-style-type: none;
    display: none;
}

.user_options_list li {
    position: relative;
    padding-top: 5px;
    width: 150px;
    height: 35px;
    background: #fbfbfb;
    border-bottom: 1px #f1f1f1 solid;
    margin-right: 30px;
    text-align: center;
    z-index: 2;
}

.user_options_list li a:hover {
    cursor: pointer;
}

.arrow {
    margin-top: 15px;
    margin-right: 30px;
}

.logout_block {
    text-decoration: none;
    cursor: pointer;
}

.logout_block:hover {
    text-decoration: none;
}

.info-tile-header {
    padding-top: 15px;
    padding-left: 20px;
    height: 60px;
    background: #e5e5e5;
    color: #777777;
    font-family: Raleway;
    font-size: 14pt;
    width: 100%;
    font-weight: bold;
}

.info-tile-header-no-font {
    padding-top: 15px;
    padding-left: 20px;
    height: 60px;
    background: #e5e5e5;
    color: #777777;
    width: 100%;
}

.info-tile-body {
    background: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-tile-list {
    list-style-type: none;
    width: 100%;
    padding-left: 15px;
}

.info-tile-list li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #e5e5e5 solid;
}

#replacement_add_select {
    width: 40%;
}

.info-tile-delete-button {
    margin-left: 5px;   
}

.info-tile-show-more-button {
    margin-left: 20px;   
}

.hidden {
    display: none;   
}

.timetable-section {
    color: #FFFFFF; 
    margin-left: 5px;   
}

.header-image {
    margin-top: 75px;
    height: 60px;
}

#select_custom_time {
    margin-left: 20px;
}