html, body {margin:0;padding:0;height:100%;}

.header-background {
    height: 55px;
}

.header-logo {
    margin-top: 10px;
    height: 40px;
    margin-left: 5px;
    float: left;
    margin-right: 20pt;
}

.header-logo2 {
    height: 70px;
    margin-bottom: 30px;
}

@font-face {
    font-family: Lobster;
    src: url(/bundles/mkotlarzqrapp/fonts/lobster.otf);
}


@font-face {
    font-family: Socialico;
    src: url(/bundles/mkotlarzqrapp/fonts/Socialico.otf);
}

.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu li {
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Raleway;
    background: #FFFFFF;
}

.menu li a {
    color: #000000;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: none;
    color: #000000;
}

.menu li:hover {
    background: #eeeeee;
    cursor: pointer;
}

.menu .selected {
    background: #eeeeee;
}

.slider {
    width: 100%;
    background-image: url(/bundles/mkotlarzqrapp/images/slider.png);
    height: 545px;
}

.slider-header-text {
    margin-top: 150px;
    font-size: 20pt;
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: bold;
}

.slider-header-subtext {
    font-size: 20pt;
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: lighter;
}

.slider-content {
    font-size: 12pt;
    color: #FFFFFF;
    font-family: Raleway;
    margin-left: -15px;
}

.features-header {
    font-size: 20pt;
    color: #000000;
    font-family: Raleway;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.features-subtext {
    font-family: Raleway;
    color: #afb8b8;
    font-size: 12pt;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.slider-download-button {
    background-image: url(/bundles/mkotlarzqrapp/images/download_button.png);
    width: 240px;
    height: 60px;
    clear: both;
    text-align:  center;
    font-size: 21pt;
    font-family: Raleway;
    color: #FFFFFF;
    padding-top: 10px;
}

.odd-row-download-button {
    background-image: url(/bundles/mkotlarzqrapp/images/odd_button.png);
    width: 240px;
    height: 60px;
    clear: both;
    text-align:  center;
    font-size: 21pt;
    font-family: Raleway;
    color: #636c6c;
    padding-top: 10px;
}

.slider-download-button:hover {
    background-image: url(/bundles/mkotlarzqrapp/images/download_button_hover.png);
}

.odd-row-download-button:hover {
    background-image: url(/bundles/mkotlarzqrapp/images/odd_button_hover.png);
}

.download-button:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.features-list {
    margin-top: 50px;
}

.feature-details {
    margin-top: 50px;
}

.feature-detail-logo {
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    font-size: 100pt;
    text-shadow: 0 3px 0 #5dca88, 0 -3px 0 #5dca88, 3px 0 0 #5dca88, -3px 0 0 #5dca88;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.feature-detail-header {
    color: #636c6c;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18pt;
    margin-top: -30px;
}

.feature-detail-subtext {
    color: #afb8b8;
    font-size: 12pt;
    width: 100%;
    font-family: Raleway;
}

.list-item {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    font-size: 40pt;
    color: #FFFFFF;
    padding-top: 10px;
    border-right: 1px solid #afb8b8;
}

.list-item i {
    text-shadow: 0 2px 0 #afb8b8, 0 -2px 0 #afb8b8, 2px 0 0 #afb8b8, -2px 0 0 #afb8b8;
    margin-right: 30px;
}

.list-item:hover i {
    margin-right: 30px;
    text-shadow: 0 2px 0 #636c6c, 0 -2px 0 #636c6c, 2px 0 0 #636c6c, -2px 0 0 #636c6c;
}

.list-item:hover {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    font-size: 40pt;
    color: #FFFFFF;
    padding-top: 10px;
    border-right: 10px solid #5dca88;
    cursor: pointer;
}

.list-item-selected {
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 40pt;
    color: #FFFFFF;
    padding-top: 10px;
    border-right: 10px solid #5dca88;
}


.list-item-selected i {
    text-shadow: 0 2px 0 #636c6c, 0 -2px 0 #636c6c, 2px 0 0 #636c6c, -2px 0 0 #636c6c;
    margin-right: 30px;
}

.list-item-selected:hover i {
    margin-right: 30px;
    text-shadow: 0 2px 0 #636c6c, 0 -2px 0 #636c6c, 2px 0 0 #636c6c, -2px 0 0 #636c6c;
}

.list-item-selected:hover {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    font-size: 40pt;
    color: #FFFFFF;
    padding-top: 10px;
    border-right: 10px solid #5dca88;
    cursor: pointer;
}

.list-item-selected .features-list-title-text {
    color: #636c6c;
}


.list-item-selected:hover .features-list-title-text {
    color: #636c6c;
    text-decoration: none;
}

.features-list-title-text {
    font-size: 12pt;
    color: #afb8b8;
    font-family: Raleway;
    margin-left: 10pt;
    position: relative;
    top: -15px;
    font-size: 20pt;
}

.list-item:hover .features-list-title-text {
    text-decoration: none;
    color: #636c6c;
}

#features { 
    padding-bottom: 50px;
}

.odd-row {
    background-color: #f2f9fe;
    padding-top: 50px;
    padding-bottom: 50px;
}

.odd-row-header {
    font-family: Raleway;
    font-weight: bold;
    color: #5dca88;
    font-size: 20pt;
}

.odd-row-header-separator {
    width:75px;
    border-bottom: 1.5px #949c9c solid;
}

.odd-row-header-subtext {
    padding-top: 20px;
    font-family: Raleway;
    color: #8c9494;
    font-size: 20pt;
}

.odd-row-subtext {
    font-size: 11pt;
    font-family: Raleway;
    color: #8c9494;
    padding-top: 10px;
    padding-bottom: 20px;
}

.screenshots-header {
    padding-bottom: 50px;
}

#screenshots {
    padding-bottom: 50px;
}

.footer {
    background-color: #2d312f;
    font-size: 20pt;
    font-family: Raleway;
    color: #8c9494;
    padding-top: 50px;
    padding-bottom: 50px;
}

.social-icons a {
    color: #5d6461;
    font-size: 50pt;
    font-family: Socialico;
}

.social-icons a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.default {
    height: 100%;
}

.default .aside-menu {
    height: 100%;
    background-color: #34495e;
    margin-left: -15px;
}

html { height: 100%; }

body { height: 100%; }