{% extends "mkotlarzQRAppBundle:Login:base.html.twig" %}

{% block page_content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 login-form-container">
        <img src="{{ asset('bundles/mkotlarzqrapp/images/logo.png') }}" class="header-logo2"/>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username" class="col-md-4 control-label">Email</label>
                <div class="col-md-4">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-4 control-label">Hasło</label>
                <div class="col-md-4">
                    <input type="password" id="password" name="_password" required="required" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Zapamiętaj mnie</label>
            </div>
            <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-success">Zaloguj się</button>
        </form>
    </div>
</div>
{% endblock %}