{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - {{ title }}{% endblock %}

{% block top_menu %}
{{ top_menu_content | raw }}
{% endblock %}
{% block page_content %}
        <div class="row">
            <div class="col-md-4">
                <form action="/dashboard/{{ action }}/add" method="POST" {{ form_enctype(form) }}>
                    {{ form_rest(form) }}
                </form>
                {{ back_url | raw }}
            </div>
        </div>
{% endblock %}
{%block js%}
{% endblock %}