<ul class="info-tile-list">
                    {% for room in freeRooms %}
                        <li>{{ room.number }} <a href="/dashboard/room/{{ room.id }}"><button class="btn btn-primary info-tile-show-more-button">Zobacz plan</button><a href="/dashboard/room/remove/{{ room.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a></a></li>
                    {% endfor %}
</ul>