<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}qrapp - landing page{% endblock %}</title>    
    {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap.min.css') }}">

        <!-- Optional theme -->
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/font-awesome.css') }}">
    {% endblock %}
	</head>
    <body>
        {% block body %}
            <div class="col-md-2 aside-menu">
                <a href="/dashboard"><img src="{{ asset('bundles/mkotlarzqrapp/images/logo_white.png') }}" class="header-image"/></a>
                <div class="menu-container">
                        <ul class="side-menu">
                            <a href="/dashboard/rooms"><li id="rooms">Pomieszczenia<div class="number" id="rooms_number">{% block rooms_number %}{{ rooms_number }}{% endblock %}</div></li></a>
                            <a href="/dashboard/hours"><li id="hours">Godziny<div class="number" id="hours_number">{% block hours_number %}{{ hours_number }}{% endblock %}</div></li></a>
                            <a href="/dashboard/subjects"><li id="subjects">Przedmioty<div class="number" id="subjects_number">{% block subjects_number %}{{ subjects_number }}{% endblock %}</div></li></a>
                            <a href="/dashboard/teachers"><li id="teachers">Nauczyciele<div class="number" id="teacher_number">{% block teachers_number %}{{ teachers_number }}{% endblock %}</div></li></a>
                            <a href="/dashboard/timetables"><li id="timetables">Klasy<div class="number" id="timetables_number">{% block timetables_number %}{{ timetables_number }}{% endblock %}</div></li></a>
                            <a href="/dashboard/replacements"><li id="replacements">Zastępstwa<div class="number" id="replacements_number">{% block replacements_number %}{{ replacements_number }}{% endblock %}</div></li></a>
                            <a href="/dashboard/users"><li id="users">Użytkownicy<div class="number" id="users_number">{% block users_number %}{{ users_number }}{% endblock %}</div></li></a>
                        </ul>
                    </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-10 header-container">
                <div class="row">
                    <div class="col-md-8 header breadcrumb">
                        <a href="/dashboard">Panel administratora</a>
                        {% block top_menu %}
                        {% endblock %}
                    </div>
                    <div class="col-md-4 header2">
                        <div class="logout_block">
                            <div id="logout_click">
                                <img src="{{ asset('bundles/mkotlarzqrapp/images/user_image_default.png') }}" class="user-image img-circle" />
                                <span class="user_options">{{ user_name }}</span>
                                <img src="{{ asset('bundles/mkotlarzqrapp/images/arrow.png') }}" class="arrow"/>
                            </div>
                        <ul class="user_options_list" id="logout_options">
                            <li><a href="/profile">Profil</a></li>
                            <li><a href="/logout">Wyloguj się</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
                {% block page_content %}
                {% endblock %}
            </div>
        {% block js %}
            <!-- Latest compiled and minified JavaScript -->
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="{{ asset('bundles/mkotlarzqrapp/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript">
                $( "#logout_click" ).click(function() {
                    var displayed = $('#logout_options').css('display');
                    if(displayed == "none")
                       $('#logout_options').show();
                    else
                        $('#logout_options').hide();
                });
            </script>
        {% endblock %}
        {% block customjs %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% endblock %}
    </body>
</html>