{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Godziny{% endblock %}

{% block top_menu %}
> <a href="/dashboard/hours">Godziny</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <div class="info-tile-header">Wszystkie godziny</div>
            <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Numer</th>
                        <th>Od - do</th>
                        <th>Akcje</th>
                    </tr>
                    {% for hour in hours %}
                        <tr>
                            <td>{{ hour.id }}</td>
                            <td>{{ hour.number }}</td>
                            <td>{{ hour }}</td>
                            <td>
                                <a href="/dashboard/hour/edit/{{ hour.id }}"><button class="btn btn-primary info-tile-delete-button">Edytuj</button></a>
                                <a href="/dashboard/hours/remove/{{ hour.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a href="/dashboard/hours/add"><button class="btn btn-success">Dodaj godzinę</button></a></div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#hours").addClass("selected");
        </script>
{% endblock %}