{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block page_content %}
<div class="dashboard">
    <div class="row content-row">
        <div class="col-md-2"></div>
        <div class="col-md-8 tiles-container">
            <a href="/dashboard/rooms" class="tile-link">
                <div class="tile blue-first">
                    <img src="{{ asset('bundles/mkotlarzqrapp/images/icons/rooms.png') }}" class="tile-icon" /><br />
                    <span class="tile-title">Pomieszczenia</span>
                </div>
            </a>
            <a href="/dashboard/hours" class="tile-link">
                <div class="tile blue-second">
                    <img src="{{ asset('bundles/mkotlarzqrapp/images/icons/hours.png') }}" class="tile-icon" /><br />
                    <span class="tile-title">Godziny</span>
                </div>
            </a>
            <a href="/dashboard/subjects" class="tile-link">
                <div class="tile blue-third">
                    <img src="{{ asset('bundles/mkotlarzqrapp/images/icons/subjects.png') }}" class="tile-icon" /><br />
                    <span class="tile-title">Przedmioty</span>
                </div>
            </a>
            <a href="/dashboard/teachers" class="tile-link">
                <div class="tile blue-fourth">
                    <img src="{{ asset('bundles/mkotlarzqrapp/images/icons/teacher.png') }}" class="tile-icon" /><br />
                    <span class="tile-title">Nauczyciele</span>
                </div>
            </a>
            <a href="/dashboard/timetables" class="tile-link">
                <div class="tile blue-fifth" style="padding-bottom: 14px;">
                    <img src="{{ asset('bundles/mkotlarzqrapp/images/icons/timetable.png') }}" class="tile-icon" /><br />
                    <span class="tile-title">Klasy</span>
                </div>
        </a>
    </div>
<div class="col-md-2"></div>
</div>
    <div class="row content-row">
        <div class="col-md-1"></div>
    
        <!-- Zastępstwa -->
    
        <div class="col-md-5">
            <div class="col-md-12 info-tile-header">
                Zastępstwa
            </div>
            <div class="col-md-12 info-tile-body">
                <ul class="info-tile-list">
                    {% for replacement in replacements %}
                        <li>{{ replacement.hour }} - {{ replacement.timetable }} - {{ replacement.teacher}} {{ replacement.description }} <a href="/dashboard/replacements/show/{{ replacement.lesson.id }}"><button class="btn btn-primary info-tile-show-more-button">Zobacz więcej</button><a href="/dashboard/replacements/remove/{{ replacement.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a></a></li>
                    {% endfor %}
                </ul>
                <select id="replacement_add_select" class="form-control" style="float: left;">
                    {% for timetable in timetables %}
                        <option value="{{ timetable.id }}">{{ timetable.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-success" style="margin-left: 20px;" id="add-replacement">Dodaj zastępstwo</button>
            </div>
        </div>
    
    
        <!-- Nauczyciele -->
    
        <div class="col-md-5">
            <div class="col-md-12 info-tile-header">
                Nauczyciele
            </div>
            <div class="col-md-12 info-tile-body">
                <ul class="info-tile-list">
                    {% for teacher in teachers %}
                        <li>{{ teacher}}<a href="http://localhost/dashboard/teacher/{{ teacher.id }}"> <button class="btn btn-primary info-tile-show-more-button">Zobacz plan</button></a><a href="/dashboard/teacher/remove/{teacher_id}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a></li>
                    {% endfor %}
                </ul>
                <a href="/dashboard/teachers/add"><button class="btn btn-success" >Dodaj nauczyciela</button></a>
            </div>
        </div>
    </div>
    <div class="row content-row" style="height: 25px;"></div>
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="col-md-12 info-tile-header" id="show_free_rooms_header">
                Lista wolnych pomieszczeń o godzinie: {{ time }}
                <button class="btn btn-primary" id="select_custom_time">Wybierz godzinę</button>
            </div>
            <div class="col-md-12 info-tile-body">
                <div id="free_rooms"></div>
                <a href="/dashboard/rooms/add"><button class="btn btn-success" style="margin-left: 20px;">Dodaj pomieszczenie</button></a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-12 info-tile-header">
                Generowanie kodów QR
            </div>
            <div class="col-md-12 info-tile-body">
                <a href="/dashboard/QRCodeGenerator/rooms/all"><button class="btn btn-primary">Wygeneruj QRCode'y dla pomieszczeń</button></a><br /><br />
                <a href="/dashboard/checkins/generate/all"><button class="btn btn-success">Wygeneruj QRCode'y autoryzacyjne dla nauczycieli</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script type="text/javascript">
$("#add-replacement").click(function() {
   var selected = $( "#replacement_add_select option:selected" ).val();
    window.location.href = "/dashboard/timetable/" + selected;
});
</script>
<script src="{{ asset('bundles/mkotlarzqrapp/js/dashboard.js') }}"></script>
<script 
{% endblock %}