{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - {{ title }}{% endblock %}

{% block top_menu %}
{{ top_menu_content | raw }}
{% endblock %}
{% block page_content %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div><h1>Lekcja:</h1></div>
                <div>{{ day }}: {{ lesson.hour }} - {{ lesson.subject }} z {{ lesson.teacher }}</div><br />
                <div>
                    <form action="/dashboard/replacements/add/{{ lesson.id }}" method="POST" {{ form_enctype(form) }}>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}