{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Zastępstwa{% endblock %}


{% block top_menu %}
> <a href="/dashboard/replacements">Zastępstwa</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="info-tile-header">Wszystkie zastępstwa</div>
                <table class="table table-striped">
                    <tr>
                        <th>Klasa</th>
                        <th>Godzina lekcyjna</th>
                        <th>Dzień</th>
                        <th>Opis</th>
                        <th>Akcje</th>
                    </tr>
                    {% for replacement in replacements %}
                        <tr>
                            <td>{{ replacement.timetable.name }}</td>
                            <td>{{ replacement.hour }}</td>
                            <td>
                                {% if replacement.lesson.day == 1 %}
                                    Poniedziałek
                                {% endif %}
                                {% if replacement.lesson.day == 2 %}
                                    Wtorek
                                {% endif %}
                                {% if replacement.lesson.day == 3 %}
                                    Środa
                                {% endif %}
                                {% if replacement.lesson.day == 4 %}
                                    Czwartek
                                {% endif %}
                                {% if replacement.lesson.day == 5 %}
                                    Piątek
                                {% endif %}
                                {% if replacement.lesson.day == 6 %}
                                    Sobota
                                {% endif %}
                                {% if replacement.lesson.day == 7 %}
                                     Niedziela
                                {% endif %}
                            
                            </td>
                            <td>{{ replacement.description }}</td>
                            <td>
                                <a href="/dashboard/replacements/show/{{ replacement.lesson.id }}"><button class="btn btn-success info-tile-show-more-button">Pokaż</button></a>
                                <a href="/dashboard/replacements/remove/{{ replacement.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- <div class="col-md-2"><a href="/dashboard/replacements/add"><button class="btn btn-success">Add replacement</button></a></div> -->
        </div>
{% endblock %}

{% block footer %}
        <script type="text/javascript">
            $("#replacements").addClass("selected");
        </script>
{% endblock %}