{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Pomieszczenia{% endblock %}


{% block top_menu %}
> <a href="/dashboard/rooms">Pomieszczenia</a> > <a href="/dashboard/room/{{ id }}">{{ name }}</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h1>{{ name }}</h1></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped" id="lessons-table">
            <tr>
                <th>Godzina lekcyjna</th>
                <th>Poniedziałek</th>
                <th>Wtorek</th>
                <th>Środa</th>
                <th>Czwartek</th>
                <th>Piątek</th>
                <th>Sobota</th>
                <th>Niedziela</th>
            </tr>
            <tr>
            {% set i = 1 %}
            {% set row = 1 %}
            {% if lessons is not empty %}
            {% set last_hour = lessons[0].hour.start.format("H:i")  + " - " + lessons[0].hour.end.format("H:i")  %}
            {% set current_hour = lessons[0].hour.start.format("H:i")  + " - " + lessons[0].hour.end.format("H:i")  %}
            {% endif %}
            {% for lesson in lessons %}
                {% set current_hour = lesson.hour.start.format("H:i")  + " - " + lesson.hour.end.format("H:i")  %}
                {% if last_hour != current_hour  %}
                {% set i = 1 %}
                {% set row = row + 1 %}
                </tr><tr>
                {% endif %} 
                {% if i == 1 %}<td>{{ lesson.hour.start.format("H:i")  }} - {{ lesson.hour.end.format("H:i")  }}</td>{% endif %}
                {% if i == lesson.day %}
                    <td data-dimm="{{ i }}" data-row="{{ row }}">{{lesson.subject.name }}<br />Nauczyciel: <a href="/dashboard/teacher/{{ lesson.teacher.id }}">{{ lesson.teacher.name }} {{ lesson.teacher.surname }}</a><br />Klasa: <a href="/dashboard/timetable/{{ lesson.timetable.id }}">{{ lesson.timetable.name }}</a><br /><a href="/dashboard/replacements/add/{{ lesson.id }}"><button class="btn btn-warning hidden" id="{{ i }}_{{ row }}">Dodaj zastępstwo</button></a><br /><a href="/dashboard/lesson/edit/{{ lesson.id }}"><button class="btn btn-primary hidden" id="{{ i }}_{{ row }}_edit">Edytuj</button></a><br /><a href="/dashboard/lesson/remove/{{ lesson.id }}"><button class="btn btn-danger hidden" id="{{ i }}_{{ row }}_remove">Usuń</button></a></td>
                {% else %}
                    {% set j = (lesson.day - i) - 1 %}
                    {% for k in 0..j %}
                    {% set i = i +1 %} 
                        <td></td>
                    {% endfor %}
            <td data-dimm="{{ i }}" data-row="{{ row }}">{{lesson.subject.name }}<br />Nauczyciel: <a href="/dashboard/teacher/{{ lesson.teacher.id }}">{{ lesson.teacher.name }} {{ lesson.teacher.surname }}</a><br />Klasa: <a href="/dashboard/timetable/{{ lesson.timetable.id }}">{{ lesson.timetable.name }}</a><br /><a href="/dashboard/replacements/add/{{ lesson.id }}"><button class="btn btn-warning hidden" id="{{ i }}_{{ row }}">Dodaj zastępstwo</button></a><br /><a href="/dashboard/lesson/edit/{{ lesson.id }}"><button class="btn btn-primary hidden" id="{{ i }}_{{ row }}_edit">Edytuj</button></a><br /><a href="/dashboard/lesson/remove/{{ lesson.id }}"><button class="btn btn-danger hidden" id="{{ i }}_{{ row }}_remove">Usuń</button></a></td>
                {% endif %}
                {% if i == 7 %}
                    </tr><tr>
                    {% set i = 1 %}
                    {% set row = row + 1 %}
                {% else %}
                    {% set i = i + 1 %}
                {% endif %}
                {% set last_hour = lesson.hour.start.format("H:i")  + " - " + lesson.hour.end.format("H:i")  %}
            {% endfor %}
            </tr>
        </table>
        <div class="col-md-12"><a href="/dashboard/room/{{ id }}/lesson/add"><button class="btn btn-success">Dodaj lekcje</button></a></div>
        <div class="col-md-12" style="margin-top: 5px;"><a href="/dashboard/QRCodeGenerator/room/{{ id }}"><button class="btn btn-info">Wygeneruj QRCode</button></a></div>
    </div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#timetables").addClass("selected");
        </script>
        <script type="text/javascript">
            $("#lessons-table td").mouseover(function() {
                var dimm = $(this).attr('data-dimm');
                var row = $(this).attr('data-row');
                $("#lessons-table td #" + dimm + "_" + row).removeClass("hidden");
                $("#lessons-table td #" + dimm + "_" + row + "_edit").removeClass("hidden");
                $("#lessons-table td #" + dimm + "_" + row + "_remove").removeClass("hidden");
            });
            $("#lessons-table td").mouseleave(function() {
                var dimm = $(this).attr('data-dimm');
                var row = $(this).attr('data-row');
                $("#lessons-table td #" + dimm + "_" + row).addClass("hidden");
                $("#lessons-table td #" + dimm + "_" + row + "_edit").addClass("hidden");
                $("#lessons-table td #" + dimm + "_" + row + "_remove").addClass("hidden");
            });
        </script>
{% endblock %}