{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Pokoje{% endblock %}


{% block top_menu %}
> <a href="/dashboard/rooms">Pokoje</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <div class="info-tile-header">Wszystkie pokoje</div>
            <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Number</th>
                        <th>Description</th>
                        <th>Room</th>
                    </tr>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ room.id }}</td>
                            <td>{{ room.number }}</td>
                            <td>{{ room.description }}</td>
                            <td>
                                <a href="/dashboard/room/{{ room.id }}"><button class="btn btn-success info-tile-show-more-button">Pokaż</button></a>
                                <a href="/dashboard/room/edit/{{ room. id }}"><button class="btn btn-primary info-tile-delete-button">Edytuj</button></a>
                                <a href="/dashboard/room/remove/{{ room.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a href="/dashboard/rooms/add"><button class="btn btn-success">Dodaj pokój</button></a>
</div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#rooms").addClass("selected");
        </script>
{% endblock %}