{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Dashboard - Schools{% endblock %}

{% block top_menu %}
> <a href="/dashboard/schools">Schools</a>
{% endblock %}
{% block page_content %}
<div class="row">
    <div class="col-md-2"><a href="/dashboard/schools/add"><button class="btn btn-success">Add school</button></a></div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#schools").addClass("selected");
        </script>
{% endblock %}