{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Przedmioty{% endblock %}


{% block top_menu %}
> <a href="/dashboard/subjects">Przedmioty</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <div class="info-tile-header">Wszystkie przedmioty</div>
            <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>
                        <th>Akcje</th>
                    </tr>
                    {% for subject in subjects %}
                        <tr>
                            <td>{{ subject.id }}</td>
                            <td>{{ subject.name }}</td>
                            <td>                                
                                <a href="/dashboard/subject/edit/{{ subject.id }}"><button class="btn btn-primary info-tile-delete-button">Edytuj</button></a>
                                <a href="/dashboard/subject/remove/{{ subject.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a href="/dashboard/subjects/add"><button class="btn btn-success">Dodaj przedmiot</button></a></div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#subjects").addClass("selected");
        </script>
{% endblock %}