{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Nauczyciele{% endblock %}


{% block top_menu %}
> <a href="/dashboard/teachers">Nauczyciele</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="info-tile-header">Wszyscy nauczyciele</div>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Imię i nazwisko</th>
                        <th>Adres</th>
                        <th>Akcje</th>
                    </tr>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.id }}</td>
                            <td>{{ teacher }}</td>
                            <td>ul. {{ teacher.street }} {{ teacher.city }}, {{ teacher.postal }}</td>
                            <td>
                                <a href="/dashboard/teacher/{{ teacher.id }}"><button class="btn btn-success info-tile-show-more-button">Pokaż plan zajęć</button></a>
                                <a href="/dashboard/teacher/edit/{{ teacher. id }}"><button class="btn btn-primary info-tile-delete-button">Edytuj</button></a>
                                <a href="/dashboard/teacher/send/{{ teacher.id }}"><button class="btn btn-info info-tile-delete-button">Wyślij token</button></a>
                                <a href="/dashboard/teacher/remove/{{ teacher.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a href="/dashboard/teachers/add"><button class="btn btn-success">Dodaj nauczyciela</button></a></div>
</div>
{% endblock %}

{% block footer %}
        <script type="text/javascript">
            $("#teachers").addClass("selected");
        </script>
{% endblock %}