{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Klasy{% endblock %}


{% block top_menu %}
> <a href="/dashboard/timetables">Klasy</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="info-tile-header">Wszystkie klasy</div>
            <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>
                        <th>Akcje</th>
                    </tr>
                    {% for timetable in timetables %}
                        <tr>
                            <td>{{ timetable.id }}</td>
                            <td>{{ timetable.name }}</td>
                            <td>
                                <a href="/dashboard/timetable/{{ timetable.id }}"><button class="btn btn-success">Pokaż plan zajęć</button></a>
                                <a href="/dashboard/timetable/edit/{{ timetable. id }}"><button class="btn btn-primary info-tile-delete-button">Edytuj</button></a>
                                <a href="/dashboard/timetable/remove/{{ timetable.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a href="/dashboard/timetables/add"><button class="btn btn-success">Dodaj plan zajęć</button></a></div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#timetables").addClass("selected");
        </script>
{% endblock %}