{% extends "mkotlarzQRAppBundle:Dashboard:base.html.twig" %}

{% block title %}Panel administratora - Użytkownicy{% endblock %}


{% block top_menu %}
> <a href="/dashboard/users">Użytkownicy</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="info-tile-header">Wszyscy użytkownicy</div>
            <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Imię i nazwisko</th>
                        <th>Email</th>
                        <th>Akcje</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }} {{ user.surname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="/dashboard/user/send/{{ user.id }}"><button class="btn btn-primary info-tile-show-more-button">Wyślyj email aktywacyjny</button></a>
                                <a href="/dashboard/user/remove/{{ user.id }}"><button class="btn btn-danger info-tile-delete-button">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a href="/dashboard/user/add"><button class="btn btn-success">Dodaj użytkownika</button></a></div>
</div>
{% endblock %}
{% block footer %}
        <script type="text/javascript">
            $("#users").addClass("selected");
        </script>
{% endblock %}