{% extends "mkotlarzQRAppBundle:Email:base.html.twig" %}

{% block body %}
<div class="header">
    <img src="http://kmaciek.unixstorm.org{{ asset('bundles/mkotlarzqrapp/images/logo.png') }}" style="height: 80px;"/>
</div>
<div class="content">
Żeby aktywować twoje konto, prosimy kliknąć <a href="{{ link }}">tutaj</a>.
</div>
<div class="content">
Dane dostępu do konta: <br />
    Login: <strong>{{ login }}</strong>
    Hasło: <strong>{{ password }}</strong>
    
Hasło możesz zmienić pod tym <a href="http://localhost/resetting/request">adresem</a>.
</div>
{% endblock %}