{% extends "mkotlarzQRAppBundle:Email:base.html.twig" %}

{% block css %}

<style>
    
html {
    padding: 0px;
    margin: 0px;
}
html body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
    
.header {
    background-color: #34495e;
    height: 50px;
    color: #FFFFFF;
    padding-top: 15px;
    font-size: 18pt;
    padding-left: 20px;
}
    
.content {
    margin-top: 20px;   
}
</style>

{% endblock %}

{% block body %}
<div class="header">
    <img src="http://kmaciek.unixstorm.org{{ asset('bundles/mkotlarzqrapp/images/logo.png') }}" style="height: 80px;"/>
</div>
<div class="content">
Aby w zalogować się panelu nauczyciela dostępnego w aplikacji mobilnej potrzebny jest token autoryzacyjny zamieszczony poniżej:
    <ul>
        <li>{{ token }}</li>
    </ul>
</div>
{% endblock %}