<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}qrapp - landing page{% endblock %}</title>

        {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap.min.css') }}">

        <!-- Optional theme -->
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/font-awesome.css') }}">
        <link href="{{ asset('bundles/mkotlarzqrapp/bxslider/jquery.bxslider.css') }}" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    </head>
	{% endblock %}
	<body>
	{% block body %}
		<header class="container header-background">
            <img src="{{ asset('bundles/mkotlarzqrapp/images/logo.png') }}" class="header-logo"/>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#screenshots">Screenshot</a></li>
                <li><a href="#gallery">Gallery</a></li>
            </ul>
            <ul class="menu text-left" style="float: right;">
                <li><a href="login">Login</a></li>
                <li><a href="register">Sign in</a></li>
            </ul>
        </header>
        <main class="container-fluid slider" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-1">
                        <p class="slider-header-text">qrapp</p>
                        <p class="slider-header-subtext">Innovative platform for managing calls and messages</p>
                        <p class="col-md-8 slider-content">With this application you can easily manage the rules to block calls and messages on all phones in the company. Just that you sign up.</p>
                        <a href="register" class="download-button"><p class="slider-download-button">Sign in</p></a>
                    </div>
                </div>
            </div>
        </main>
        <main class="container" id="features">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="features-header">Online Administrator Panel</p>
                    <p class="features-subtext">Managing call and messages rules never was as easy as now. Thanks the Online Administrator Panel you can set connectivity rules from any place of the world.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 features-list">
                    <p class="list-item-selected" rel="cloud_storage"><i class="fa fa-cloud"></i><a class="features-list-title-text">Cloud storage</a></p>
                    <p class="list-item" rel="manage_rules"><i class="fa fa-cogs"></i><a class="features-list-title-text">Manage rules</a></p>
                    <p class="list-item" rel="all_phones"><i class="fa fa-users"></i><a class="features-list-title-text">All phones</a></p>
                    <p class="list-item" rel="set_autoresponder"><i class="fa fa-share"></i><a class="features-list-title-text">Set autoresponder</a></p>
                </div>
                <div class="col-md-5 col-md-offset-1 feature-details" id="feature-details">
                    <p class="feature-detail-logo"><i class="fa fa-cloud"></i></p>
                    <p class="feature-detail-header">Cloud storage</p>
                    <p class="feature-detail-subtext"> N da sdjka sdasdaksdasjkd asd asjd askd akjd as da dhka sda skjd askd ajks dajk aks djka djka sdjkas dkjasdjkansdja sjkdasdua dbakd asjkd aks</p>
                </div>
            </div>
        </main>
        <main class="container-fluid odd-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <p class="odd-row-header">Online Administrator Pannel</p>
                        <p class="odd-row-header-separator"></p>
                        <p class="odd-row-header-subtext">Test subtext</p>
                        <p class="odd-row-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec gravida tellus, in rhoncus nisl. Nunc cursus mi a accumsan finibus. Proin a cursus orci, vel convallis lacus. Fusce sed lectus euismod, aliquet mi at, luctus libero. Praesent laoreet eleifend lorem nec dignissim. Phasellus bibendum placerat massa vitae cursus. Mauris a est vulputate, imperdiet leo ac, scelerisque eros. Curabitur tincidunt eleifend ullamcorper.</p>
                        <a href="/download" class="download-button"><p class="odd-row-download-button">Download</p></a>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <img src="{{ asset('bundles/mkotlarzqrapp/images/main_feature_mockup.png') }}" />
                    </div>
                </div>
            </div>
        </main>
        <main class="container-fluid" id="screenshots">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 screenshots-header">
                        <p class="features-header">Our last screenshots gallery</p>
                        <p class="features-subtext">Managing call and messages rules never was as easy as now. Thanks the Online Administrator Panel you can set connectivity rules from any place of the world.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="bxslider">
                          <li><img src="{{ asset('bundles/mkotlarzqrapp/images/slider/main.png') }}" /></li>
                          <li><img src="{{ asset('bundles/mkotlarzqrapp/images/slider/inbox.png') }}" /></li>
                          <li><img src="{{ asset('bundles/mkotlarzqrapp/images/slider/create_rule.png') }}" /></li>
                          <li><img src="{{ asset('bundles/mkotlarzqrapp/images/slider/autoresponder_settings.png') }}" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <main class="container-fluid odd-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <p class="odd-row-header">Online Administrator Pannel</p>
                        <p class="odd-row-header-separator"></p>
                        <p class="odd-row-header-subtext">Test subtext</p>
                        <p class="odd-row-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec gravida tellus, in rhoncus nisl. Nunc cursus mi a accumsan finibus. Proin a cursus orci, vel convallis lacus. Fusce sed lectus euismod, aliquet mi at, luctus libero. Praesent laoreet eleifend lorem nec dignissim. Phasellus bibendum placerat massa vitae cursus. Mauris a est vulputate, imperdiet leo ac, scelerisque eros. Curabitur tincidunt eleifend ullamcorper.</p>
                        <a href="/download" class="download-button"><p class="odd-row-download-button">Download</p></a>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <img src="{{ asset('bundles/mkotlarzqrapp/images/main_feature_mockup.png') }}" />
                    </div>
                </div>
            </div>
        </main>
        <footer class="container-fluid footer">
            <div class="container">
                <div class="col-md-12 text-center">Say Hi, Get In Touch</div>
                <div class="col-md-12 text-center social-icons"><a>f</a><a>t</a><a>m</a></div>
            </div>
        </footer>
	{% endblock %}
	</body>
	<!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{ asset('bundles/mkotlarzqrapp/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mkotlarzqrapp/js/landing_page.js') }}"></script>
    <script src="{{ asset('bundles/mkotlarzqrapp/bxslider/jquery.bxslider.min.js') }}"></script>
</html>