<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}qrapp - landing page{% endblock %}</title>    
    {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap.min.css') }}">

        <!-- Optional theme -->
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mkotlarzqrapp/css/font-awesome.css') }}">
    {% endblock %}
	</head>
    <body>
        {% block body %}
            <div class="container-fluid content">
                {% block page_content %}
                {% endblock %}
            </div>
        {% block js %}
            <!-- Latest compiled and minified JavaScript -->
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="{{ asset('bundles/mkotlarzqrapp/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript">
                $( "#logout_click" ).click(function() {
                    var displayed = $('#logout_options').css('display');
                    if(displayed == "none")
                       $('#logout_options').show();
                    else
                        $('#logout_options').hide();
                });
            </script>
        {% endblock %}
        {% block customjs %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% endblock %}
    </body>
</html>